.details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.detail-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
  padding: 25px;
  width: 70%;
  height: fit-content;
  -webkit-box-shadow: 0 0 5px rgb(177, 177, 177);
  box-shadow: 0 0 5px rgb(177, 177, 177);
  margin: 30px auto;
}
.detail-container__image{
  width: 50%;
  height: 65%;
  padding: 10px;
}
.detail-container__caption{
  width: 50%;
  height: 90%;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.detail-container__caption--title{
  font-weight: 600;
  font-size: 35px;
}
.detail-container__caption--price{
  font-weight: 500;
  font-size: 30px;
  border-top: 25px solid #fff;
  border-bottom: 25px solid #fff;
}
.detail-container__caption p{
  margin: 0;
  margin-top: 3px;
  margin-bottom: 1px;
}

.detail-container__caption--description{
  margin: 5px 0px;
  vertical-align: middle;
  text-align: justify;
  line-height: 28px;
}

.detail-container__caption--time{
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.detail-container__caption--btn-detail{
  border: thin solid #000;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.card-container__caption--btn-blocked{
  border: thin solid #000;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #000;
}
.detail-container__caption--btn-detail:hover{
  border: thin solid #3948FF;
  color: #3948FF;
}
.detail-container__caption--rate{
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  font-weight: bold;
  font-size: 25px;
}
.btn-back{
  text-decoration: none;
  background-color: #3948FF;
  color: #fff;
  width: 250px;
  text-align: center;
  border-radius: 14px;
  padding: 15px;
  margin-top: 25px;
}
.btn-back:hover{
  background-color: #05082e;
}
.loader{
  text-align: center;
}

@media screen and (max-width: 875px) {
  .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    padding: 5px;
    width: 70%;
  }

  .detail-container__caption--rate{
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
  }
  .detail-container__caption{
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .detail-container__caption--title{
    width: 95%;
    font-size: 24px;
  }
  .rating{
    width: 100%;
  }
  .detail-container__caption--price{
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }
  .detail-container__caption .btn-back{
    text-decoration: none;
    background-color: #3948FF;
    color: #fff;
    width: 80%;
    text-align: center;
    border-radius: 14px;
    padding: 15px;
    margin-top: 25px;
  }

}
