.menu-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid rgb(233, 233, 233);
  padding: 20px 25px;
  width: 100%;
}
.menu-container__logo{
  height: 45px;
  margin-right: 45px;
  cursor: pointer;
}
.menu-container__menu{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.menu-container__menu--item{
    text-decoration: none;
    color: #000;
}
.menu-container__menu--item:hover{
    font-weight: 600;
    transition-duration: 0.2s;
}
